@import "tailwindcss";

@theme {
  --color-evergreen: #132a13;
  --color-hunter: #31572c;
  --color-fern: #4f772d;
  --color-palm: #90a955;
  --color-limecream: #ecf39e;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    color-scheme: light;
    --background: #ffffff;
    --foreground: #132a13;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --background: #132a13;
      --foreground: #ecf39e;
    }
  }

  body {
    @apply bg-white text-evergreen;
    font-family: Arial, Helvetica, sans-serif;
  }
}
