@import "tailwindcss";

@theme {
  --color-evergreen: #132a13;
  --color-hunter: #31572c;
  --color-fern: #4f772d;
  --color-palm: #90a955;
  --color-limecream: #ecf39e;

  --color-background: #ffffff;
  --color-foreground: var(--color-evergreen);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --color-background: var(--color-evergreen);
      --color-foreground: var(--color-limecream);
    }
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
