@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #132a13;
  --evergreen: #132a13;
  --hunter: #31572c;
  --fern: #4f772d;
  --palm: #90a955;
  --limecream: #ecf39e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-evergreen: var(--evergreen);
  --color-hunter: var(--hunter);
  --color-fern: var(--fern);
  --color-palm: var(--palm);
  --color-limecream: var(--limecream);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #132a13;
    --foreground: #ecf39e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
